@import './root.css';

body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: url('../image/xxx.jpg') no-repeat center center fixed;
      background-size: cover;
    }
    .login-container {
      background: #fff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
    }
    .login-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .login-container input {
      width: 95%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      border: 1px solid;
    }
    .login-container button {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      background: var(--green-one);
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;
    }
    .login-container button:hover {
      background: rgb(45, 122, 7);
    }
    
    .error {
      color: red;
      font-size: 13px;
      margin-top: -5px;
      margin-bottom: 10px;
    }