@import './root.css';

.swiper{
    width: 98%;
    margin: 0 auto 50px;
    height: 500px;
}
.swiper img{
    width: 100%;
    height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition:all 0.3s ;
    -webkit-transition:all 0.3s ;
    -moz-transition:all 0.3s ;
    -ms-transition:all 0.3s ;
    -o-transition:all 0.3s ;
    margin-top: -40px;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    color: white;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{

    opacity: 1;
}

#Popular_products-header{
    margin-top: 100px;
    width: 350px;
    font-size: 2rem;
    padding: 10px 0 10px 30px;
    color: var(--white);
    background-color: rgb(168, 32, 137);
    /* margin-bottom: 50px; */
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    border: 3px solid rgb(210, 206, 7);
    border-left: none;
    
}